<!DOCTYPE HTML>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="images/favicon.png">
        <title>MStream - Home Page</title>
    </head>

    <body>
        <div id="header"><img src="images/banner1.png"></div>

        <div id="login">
            <form name="account_info" method="post" action="submit_account_info.html" class="form-inline">
                <label for="Username">Username</label><input type="text" name="Username" id="Username" class="form-control" placeholder="Enter Username...">
                <br>
                <label for="Password">Password</label><input type="text" name="Password" id="Password" class="form-control" placeholder="Enter Password...">
                <input type="submit" value="Login" class="form-control">
            </form>
        </div>

    </body>
</html>